---
import { GoogleGeminiEffectDemo } from '../components/GoogleGeminiEffect.tsx';
import { NavbarDemo } from '../components/NavbarMenu';

const bg_img_url = "https://images.unsplash.com/photo-1707327259268-2741b50ef5e5?q=80&w=2575&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
---

<!DOCTYPE html>
<html data-theme="dark">
	<head>
		<title>Hoffmann System</title>
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	</head>
	<body>
		<NavbarDemo client:visible />
		<div ></div>
		<GoogleGeminiEffectDemo client:visible />
		<div ></div>
		<div class="bg-cover bg-center bg-no-repeat" style=`background-image: url(${bg_img_url})`>
			<div class="flex flex-col items-center justify-center h-screen">
				<h1 class="text-4xl font-bold text-white">Welcome to Hoffmann System</h1>
				<p class="text-white">The best place to find the best products</p>
			</div>
		</div>
	</body>
</html>